doctype html
html
	head
		title 404
		style.
			img {
				position: fixed; 
				top: 0; 
				left: 0; 
				min-width: 100%;
				min-height: 100%;
			}
	body
		img(src='http://media1.santabanta.com/full6/Creative/Abstract/abstract-399a.jpg')