doctype html
html(lang="en")
	head
		title Resume - Micah Lamb
		style.
			body {
				font-family: arial;
			}
			h1 {
				font-family: cambria;
				text-align: center;
				margin-bottom: 5px;
			}
			.contact {
				text-align: center;
			}
			h2 {
				font-family: cambria;
				text-align: center;
				border-top: 1px solid black;
				padding-top: 5px;
				margin-top: 15px;
			}
			h4 {
				margin: 15px 0 5px
			}

			.indent {
				margin-left: 30px;
			}
			ul {
				margin: 0;
				padding-left: 30px;
			}
			li {
				padding-left: 10px;
				margin-bottom: 10px;
			}
			.school .city {
				font-weight: normal;
			}
			.degree {
				font-style: italic;
			}
			.position {
				font-weight: normal;
				font-style: italic;
			}
			.dates {
				font-weight: normal;
			}
			
	body
		h1 Micah Lamb
		.contact 10787 Watkins Rd &bull; Pataskala, OH &bull; 740 407 7509 &bull; micah.d.lamb@gmail.com
		
		h2 Education
		h3.school
			span.name The Ohio State University - 
			span.city Columbus, Ohio
		.indent
			.degree M.S. Computer Science, 5/2013 (GPA: 3.77/4)
			h4 Courses
			span Design and Analysis of Algorithms, Programming Languages, Operating Systems / Distributed Computing, Advanced Databases, Compilers, Artificial Intelligence, Neural Networks, Network Security, Ray Tracing, Real-time Rendering with OpenGL 4.x, Geometric Modeling, Advanced Computer Graphics
		h3.school
			span.name Ohio University - 
			span.city Athens, Ohio
		.indent
			.degree B.S. Computer Science, 6/2008
			
		h2 Summary of Qualifications
		ul
			li Several years of front and back end web development experience using a variety of server languages, databases and JavaScript frameworks. Capable with the MEAN (MongoDB, Express, AngularJS, Node.js) stack + Bootstrap.
			li Python expert and over 9 years&#8217; experience working with C++.
			li Well-versed in the field of computer graphics - OpenGL/GLSL programming, linear algebra etc.
			
		h2 Professional Experience
		h3
			span.company Altair - 
			span.position Software Developer for <a href="http://www.solidthinking.com/ProductOverview.aspx?item=Inspire">Inspire</a>, 
			span.dates Oct 2013 – Now
		ul
			li 
				p Primary developer on the Python API: a library used by multiple groups in the company (as well as end users) to customize/extend Inspire through plugins.
				
				p Implemented features include the ability to dynamically extend the C++ data model with new classes, creation of graphics, manipulators, dialogs and various other views.

				p Prioritized keeping the user code as simple/intuitive as possible resulting in new requirements being developed in drastically less time/code than comparable C++ implementations.
				
			li Developer on a multibody dynamics plugin (<a href="https://www.youtube.com/watch?v=yYpWsDAAmAY">Inspire Motion</a>) using the Python API from start through multiple release cycles.
			li Maintained a comprehensive test suite of both batch and gui tests using pytest.
		//
			h3
				span.company S2 Games - 
				span.position PHP/Web Developer, 
				span.dates Jun 2013 – Sept. 2013
			ul
				li Developed several additions/fixes to the online systems framework to support new game client features.
				li Created a couple forms for the strife.com website.
		
		h3
			span.company Schedule Star - 
			span.position Web Developer, 
			span.dates July 2007 – Aug. 2009
		ul
			li Developed several additions to the core Schedule Star program used by thousands of schools nationwide to manage high school sport events. This involved the creation of a variety of flash based forms.
			li Designed and built several web pages on HighSchoolSports.net, the most visited website for high school sports.
			li Developed a video upload system used by students and local media to manage/display clips from sport events.
			li Rewrote a site used to manage athletes and record statistical information about several types of sport events (using ExtJs). Reworked several multi thousand line files down to hundreds.
			li Created and worked with several web services used to exchange information between partner companies.
		//
			h3
				span.company First Energy Corp - 
				span.position Asset Utilization Dept. (intern), 
				span.dates July 2005 – Dec. 2005
			ul
				li Programmed several daily reports related to forecasting electric load and fuel prices.